#footer {
  background: var(--footer-gradient-bg);
  bottom: 0;
  left: 0;
}

footer {
  height: 40vh;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.footer-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
}

.footer_paragraph {
  color: #fff;
  margin-top: 3rem;
  font-family: var(--paragraph-Title);
  text-align: center;
}

.footer_links {
  font-weight: 700;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 1.5rem;
  /* gap: 5rem; */
}
.email {
  margin-top: 2rem;
  color: #fff;
  text-transform: lowercase;
}

.email:hover,
.terms:hover,
.policy:hover {
  filter: brightness(-120%);
}

.terms {
  text-transform: initial;
  color: var(--footer-links);
}
.policy {
  margin-top: 2rem;
  text-transform: initial;
  color: var(--footer-links);
}
