footer {
  display: grid;
  justify-items: center;
  z-index: 10;
  /* width: 100%; */
  height: 40vh;
  /* bottom: 0; */
  font-size: clamp(0.5rem, 2vw, 1.2rem);
  /* grid-column: 1/-1; */
}

.footer-wrapper {
  display: grid;
  gap: var(--gap);
  align-items: center;
  grid-template-rows: 1fr 1fr;
  position: absolute;
}

/* .footer-wrapper {
  text-align: center;
  margin: 0 auto;
} */

.footer_paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 5rem;
  font-family: var(--paragraph-Title);
}

.footer_links {
  font-weight: 300;
  display: flex;
  justify-content: center;
  gap: var(--gap);
  margin-top: 0;
}
.email {
  color: #fff;
  text-transform: lowercase;
}
.terms {
  text-transform: initial;
  color: var(--footer-links);
}
.policy {
  text-transform: initial;
  color: var(--footer-links);
}
