.first {
  height: 55vh;
  width: 90%;
}

.main-title {
  max-width: var(--maxWidth);
  height: 20vh;
  margin-top: 6rem;
}

.title {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: var(--title);
  font-family: var(--main-Tile);
  font-size: clamp(2rem, 5vw, 4rem);
  text-shadow: 3px 12px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

img.top_img {
  height: 100%;
  width: auto;
}

.img_1 {
  margin-top: 3rem;
  width: 50%;
  min-height: 40%;
  /* object-fit: cover; */
}

.line {
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0px 1px 0px 0px rgb(170, 170, 170);
  width: 100%;
  height: 0.5px;
}

h1.para-title {
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: var(--paragraph-Title);
  color: var(--text-color);
}

.paragraph p {
  max-width: 55ch;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  font-family: var(--paragraph);
  color: var(--text-color);
  line-height: 1.6;
}
