main {
  display: grid;
  grid-template-columns: auto var(--centerColumn) auto;
  row-gap: (--rowGap);
  /* margin: 0 auto; */
  background-color: var(--main-background);
  min-width: 90%;
  margin: 0 -3rem;
}

main > * {
  grid-column: 2;
  padding: 0 var(--gap);
}

.full-width {
  grid-column: 1/-1;
  /* padding: var(--rowGap) var(--gap); */
}

.nav-wrapper,
.footer-wrapper {
  /* max-width: var(--centerColumn); */
  width: 100%;
  padding: var(--gap);
  margin: 0 auto;
}
