@media only screen and (max-width: 280px) {
  main {
    display: grid;
    grid-template-columns: auto var(--centerColumn);
    /* row-gap: (--rowGap); */
    margin: 0 auto;
  }

  main > * {
    grid-column: 1;
    margin: 0 auto;
    /* padding: 0 var(--gap); */
  }
}

/* vertical tablet */
@media only screen and (min-width: 768px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .main-title {
    height: 20vh;
    margin-top: 4.5rem;
    width: 100%;
  }

  img.top_img {
    width: 100%;
  }

  .title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: clamp(2.5rem, 5vw, 4rem);
  }

  .first {
    display: grid;
    gap: var(--gap);
    justify-items: start;
    min-width: 60ch;
  }

  .video-wrapper {
    display: flex;
    gap: var(--gap);
    justify-items: center;
    flex-direction: column;
    align-items: center;
  }
  .video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .yt-holder {
    width: 100%;
  }

  .video-paragraph p {
    min-width: 60ch;
  }

  .footer_paragraph {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }
}

/* Desctop size */
@media only screen and (min-width: 1024px) {
  .menu {
    font-weight: 300;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .main-title {
    height: 40vh;
    margin-top: 4.5rem;
    min-width: 100%;
  }

  .title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .line {
    margin-top: 1rem;
    margin-bottom: 2.9rem;
    width: 50.61rem;
    height: 80px;
  }

  .first {
    grid-template-columns: 80ch 50ch;
    justify-content: center;
    grid-column: 1 / -1;
  }

  .svg {
    min-width: 100%;
    min-height: 100%;
  }

  .video-wrapper {
    display: grid;
    grid-template-columns: 50ch 80ch;
    justify-content: center;
    grid-column: 1 / -1;
    margin: 0 auto;
    align-items: center;
    gap: 5rem;
  }

  .viedo {
    max-width: 1500px;
    margin: 0 auto;
  }

  .yt-holder {
    overflow: hidden;
    padding-bottom: 68%;
    position: relative;
    height: 0;
    width: 100%;
  }

  .viedo iframe {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .video-line {
    margin-top: -1.3rem;
    height: 57px;
    width: 50rem;
  }

  .video-paragraph p {
    line-height: 2.1rem;
  }

  .footer_paragraph {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }
}
