@media only screen and (max-width: 280px) {
  main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
  }
  .theme-switch-wrapper {
    display: none;
  }

  footer {
    height: 55vh;
  }
}

@media only screen and (max-width: 380px) {
  .theme-switch-wrapper {
    display: none;
  }

  footer {
    height: 55vh;
  }
}

@media only screen and (max-width: 700px) {
  .icon-div {
    margin-bottom: 1rem;
  }
  .theme-switch-wrapper {
    display: none;
  }

  .first {
    min-width: 60ch;
    padding-left: 3rem;
  }
  .img_1 {
    margin-top: 3rem;
    width: 30%;
    min-height: 30%;
    padding-left: 5rem;
  }
  .video-paragraph-container {
    min-width: 60ch;
    padding-left: 3rem;
  }

  #video_info {
    display: grid;
    grid-template-rows: 52ch 50ch;
    /* justify-content: center; */
    /* grid-column: 1 / -1; */
    /* margin: 0 auto; */
    align-items: center;
    /* gap: 5rem; */
    min-width: 90vw;
  }

  .video-wrapper {
    min-width: 580px;
  }

  .yt-holder {
    padding-bottom: 58%;
    width: 100%;
  }
}

/* vertical tablet */
@media only screen and (min-width: 768px) {
  .nav-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  li {
    margin-right: 5rem;
  }

  .mentale {
    margin-right: 2rem;
  }

  .main-title {
    height: 20vh;
    margin-top: 4.5rem;
    width: 100%;
  }

  img.top_img {
    width: 100%;
  }

  .title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -30%);
    /* font-size: clamp(2.5rem, 5vw, 4rem); */
    text-align: center;
  }

  .first {
    display: grid;
    gap: var(--gap);
    justify-items: start;
    min-width: 60ch;
    height: 70vh;
  }

  .video-wrapper {
    display: flex;
    gap: var(--gap);
    justify-items: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .yt-holder {
    width: 100%;
  }

  .video-paragraph p {
    min-width: 60ch;
  }

  .footer_paragraph {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }
}

/* Desctop size */
@media only screen and (min-width: 1024px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .menu {
    font-weight: 300;
    display: flex;
  }

  .mentale {
    margin-right: 10rem;
  }

  .theme-switch-wrapper {
    right: 100px;
  }

  .main-title {
    height: 40vh;
    margin-top: 4.5rem;
    min-width: 100%;
  }

  .title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .line {
    margin-top: 2.9rem;
    margin-bottom: 2.9rem;
    width: 40rem;
  }

  .first {
    margin-top: 1rem;
    grid-template-columns: 80ch 50ch;
    justify-content: center;
    align-content: center;
    /* grid-column: 1 / -1; */
    gap: 2rem;
  }

  .img_1 {
    min-width: 100%;
    min-height: 80%;
    object-fit: fill;
  }

  #video_info {
    display: grid;
    grid-template-columns: 50ch 80ch;
    justify-content: center;
    grid-column: 1 / -1;
    margin: 0 auto;
    align-items: center;
    gap: 5rem;
    min-width: 100vw;
  }

  .video-wrapper {
    min-width: 580px;
    object-fit: fill;
  }

  .yt-holder {
    padding-bottom: 68%;
    width: 100%;
  }
  .video-paragraph-container {
    margin-left: 5rem;
  }

  .video-line {
    margin-top: -1.3rem;
    height: 60px;
    width: 46rem;
  }

  .video-paragraph p {
    line-height: 2.1rem;
  }

  .footer_paragraph {
    text-align: center;
  }

  .third {
    /* margin: 0 auto; */
    height: 50vh;
    padding-top: 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-left: -15rem;
  }

  .third_line {
    width: 162.5%;
  }

  .t_paragraph p {
    min-width: 85ch;
    line-height: 2;
  }

  .s_first {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    height: 80vh;
    margin: 0 auto;
  }

  .img_2,
  .img_3 {
    margin-top: 2rem;
    width: 50%;
    height: 60%;
    object-fit: fill;
  }
}
