header {
  position: fixed;
  top: 0;
  box-shadow: var(--smShadow);
  border-bottom: 1px solid rgb(121, 118, 118);
  z-index: 10;
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(207, 207, 207);
  font-family: var(--paragraph-Title);
  transition: 0.2s all ease-in;
}

.icon {
  width: 40px;
  margin-right: 0.5rem;
}

li {
  list-style: none;
  margin-right: 1rem;
}

:is(.hover):hover {
  border-bottom: 1px solid #fff;
  color: #fff;
  transition: 0.3s;
}

.nav {
  background: var(--nav-color);
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mentale {
  font-family: var(--paragraph-Title);
  text-transform: uppercase;
  align-self: center;
  font-size: 1.2rem;
  /* color: var(--link-a-mentale); */
  color: #fff;
}

/* dark mode */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
}

.theme-switch {
  display: inline-block;
  position: relative;
  height: 24px;
  width: 50px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 2px;
  content: '';
  left: 3px;
  position: absolute;
  transition: 0.4s;
  height: 20px;
  width: 20px;
}

input:checked + .slider {
  background: var(--footer-bg);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
