.video-wrapper {
  /* display: grid;
  gap: var(--gap);
  justify-items: center;
  max-width: var(--maxWidth);
  margin: 0 auto;
  grid-column: 2;
  max-width: 50ch;
  margin-right: 10rem; */

  width: 100%;
  max-width: 800px;
  margin: 3rem auto;
  border: 3px solid red;
}

.viedo {
  /* max-width: 350px; */
  margin-bottom: 0.2rem;
}

.yt-holder {
  /* overflow: hidden;
  padding-bottom: 56%;
  position: relative;
  height: 0;
  width: 80%;
  background: #000;
  margin-bottom: 0.2rem; */

  width: 100%;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border: 1px solid black;
  position: relative;
}

.yt-holder iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* position: absolute;
  max-height: 100%;
  max-width: 100%;
  background: red; */
}

.video-line {
  margin-top: 3rem;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 0px 0px rgb(170, 170, 170);
  width: 90%;
  height: 90px;
  font-size: clamp(0.5rem, 8vw, 2rem);
}

h1.video-title {
  font-size: clamp(0.4rem, 6vw, 2rem);
  font-family: var(--paragraph-Title);
  color: var(--text-color);
}

.video-paragraph {
  margin-top: 0.2rem;
  /* display: grid;
  gap: var(--gap);
  justify-items: start; */
}

.video-paragraph p {
  max-width: 70ch;
  font-size: clamp(0.5rem, 2vw, 1.2rem);
  font-family: var(--paragraph);
  color: var(--text-color);
}
